<div class="mat-elevation-z8">
  <mat-table [dataSource]="displayedRows"
         class="datatable w-100"
         mat-table
  >

    <ng-container *ngIf="displayedColumns?.length">
      <ng-container *ngFor="let column of displayedColumns">
        <ng-container [matColumnDef]="column"
        >
          <mat-header-cell *matHeaderCellDef
              mat-header-cell
          >
            {{ column | printHeader:columns }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row" mat-cell>
            {{ row.value[column] }}
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" mat-row></mat-row>
  </mat-table>

  <ng-container *ngIf="showPagination">
    <mat-paginator [pageSizeOptions]="PAGE_SIZE_OPTIONS"
                   showFirstLastButtons
    >
    </mat-paginator>
  </ng-container>
</div>
