<form class="login-container"
      [formGroup]="formGroup"
>
  <mat-card class="login-card"
  >
    <mat-card-content>
      <div class="w-100">
        <mat-form-field class="w-100">

          <mat-label>
            Username
          </mat-label>

          <input matInput
                 type="text"
                 formControlName="username"
          >

          <mat-error *ngIf="formGroup.get('username')?.errors?.required">
            Usuário Requerido
          </mat-error>

        </mat-form-field>
      </div>

      <div class="w-100">
        <mat-form-field class="w-100">
          <mat-label>
            Password
          </mat-label>

          <input matInput
                 type="password"
                 formControlName="password"
          >

          <mat-error *ngIf="formGroup.get('password')?.errors?.required">
            Senha Requerida
          </mat-error>

        </mat-form-field>
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-footer>
      <div class="w-100 footer-container">
        <button mat-raised-button
                color="primary"
                type="submit"
                (click)="onSubmit()"
        >
          Login
        </button>
      </div>
    </mat-card-footer>

  </mat-card>
</form>
