<div class="row">
  <div class="col col-md-12 col-lg-4">
    <app-search class="w-100"></app-search>
  </div>
</div>

<div class="row">
  <div class="col">
    <app-datatable [columns]="columns"
                   [currentPage]="currentPage"
                   [itemsPerPage]="itemsPerPage"
                   [total]="total"
                   [rows]="rows"
                   [isLoading]="isLoading"
                   (selectedRows)="onSelectedRows($event)"
                   (editInline)="onEditInline($event)"
                   (paginationChanged)="onPaginationChanged($event)"
                   (reload)="onReload()"
                   class="w-100"
    >
    </app-datatable>
  </div>
</div>
