<div (mouseenter)="onMouseEnter($event)"
     (mouseleave)="onMouseLeave($event)"
     [ngClass]="{'has-mouse-over': isEditable}"
     class="editable-cell d-flex justify-content-start align-items-center w-100 h-100 pl-2 pr-2"
>
  <div *ngIf="isEditable"
       class="cell-actions"
  >
    <button (click)="onEditClick($event)"
            *ngIf="!editMode"
            class="action-button"
            mat-icon-button
            matTooltip="edit cell"
            type="button"
    >
      <mat-icon class="action-button-icon">
        edit
      </mat-icon>
    </button>

    <button (click)="onCancelEditClick($event)"
            *ngIf="editMode"
            class="action-button"
            mat-icon-button
            matTooltip="cancel edit cell"
            type="button"
    >
      <mat-icon class="action-button-icon">
        cancel
      </mat-icon>
    </button>
  </div>

  <ng-content></ng-content>
</div>
