<div class="mat-elevation-z8">
  <ng-container *ngIf="displayedRows">
    <mat-table [dataSource]="displayedRows"
               class="datatable w-100"
    >

      <!-- Select Column -->
      <ng-container *ngIf="showSelectColumn">
        <ng-container [matColumnDef]="'select'">
          <mat-header-cell *matHeaderCellDef
                           class="select-column"
                           mat-header-cell
          >
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </mat-header-cell>

          <mat-cell *matCellDef="let row"
                    class="select-column"
                    mat-cell
          >
            <mat-checkbox (change)="toggleSelection($event, row)"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
      </ng-container>
      <!-- Select Column -->

      <!-- iterable Columns -->
      <ng-container *ngIf="displayedColumns.length">
        <ng-container *ngFor="let column of iterableColumns">
          <ng-container [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
              {{ column | printHeader:columns }}
            </mat-header-cell>

            <mat-cell *matCellDef="let row">

              <ng-container *ngIf="datatableService.isColumnText(column)">
                <app-text-column [column]="column"
                                 [row]="row"
                                 class="w-100"
                >
                </app-text-column>
              </ng-container>

              <ng-container *ngIf="datatableService.isColumnNumber(column)">
                <app-number-column [column]="column"
                                   [row]="row"
                                   class="w-100"
                >
                </app-number-column>
              </ng-container>

              <ng-container *ngIf="datatableService.isColumnLongText(column)">
                <app-long-text [column]="column"
                               [row]="row"
                               class="w-100"
                >
                </app-long-text>
              </ng-container>

            </mat-cell>
          </ng-container>
        </ng-container>
      </ng-container>
      <!-- iterable Columns -->

      <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row>
      </mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" mat-row>
      </mat-row>
    </mat-table>

    <ng-container *ngIf="showPagination">
      <mat-paginator [pageSizeOptions]="datatableService.PAGE_SIZE_OPTIONS"
                     showFirstLastButtons
      >
      </mat-paginator>
    </ng-container>
  </ng-container>
</div>
