<div class="mat-elevation-z8">
  <ng-container *ngIf="displayedRows">
    <mat-table [dataSource]="displayedRows"
               class="datatable w-100"
    >

      <!-- Select Column -->
      <ng-container *ngIf="showSelectColumn">
        <ng-container [matColumnDef]="'select'">
          <mat-header-cell *matHeaderCellDef
                           class="select-column"
                           sticky
          >
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [aria-label]="checkboxLabel()"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          color="accent"
            >
            </mat-checkbox>
          </mat-header-cell>

          <mat-cell *matCellDef="let row"
                    class="select-column"
                    mat-cell
          >
            <mat-checkbox (change)="toggleSelection($event, row)"
                          (click)="$event.stopPropagation()"
                          [aria-label]="checkboxLabel(row)"
                          [checked]="selection.isSelected(row)"
                          color="accent"
            >
            </mat-checkbox>
          </mat-cell>
        </ng-container>
      </ng-container>
      <!-- Select Column -->

      <!-- iterable Columns -->
      <ng-container *ngIf="displayedColumns.length">
        <ng-container *ngFor="let column of iterableColumns">
          <ng-container [matColumnDef]="column">
            <mat-header-cell *matHeaderCellDef>
              {{ column | printHeader:columns }}
            </mat-header-cell>

            <mat-cell *matCellDef="let row"
                      class="d-flex justify-content-center align-items-center"
            >

              <app-editable-cell [column]="column"
                                 [row]="row"
                                 class="w-100 h-inherit"
              >

                <ng-container *ngIf="datatableService.isColumnText(column)">
                  <app-text-column (editInline)="onEditInline($event)"
                                   [column]="column"
                                   [row]="row"
                                   class="w-100"
                  >
                  </app-text-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnLongText(column)">
                  <app-long-text-column (editInline)="onEditInline($event)"
                                        [column]="column"
                                        [row]="row"
                                        class="w-100"
                  >
                  </app-long-text-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnNumber(column)">
                  <app-number-column (editInline)="onEditInline($event)"
                                     [column]="column"
                                     [row]="row"
                                     class="w-100"
                  >
                  </app-number-column>
                </ng-container>


                <ng-container *ngIf="datatableService.isColumnMoney(column)">
                  <app-money-column [column]="column"
                                    [row]="row"
                                    class="w-100"
                  >
                  </app-money-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnChips(column)">
                  <app-chips-column [column]="column"
                                    [row]="row"
                                    class="w-100"
                  >
                  </app-chips-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnDate(column)">
                  <app-date-column [column]="column"
                                   [row]="row"
                                   class="w-100"
                  >
                  </app-date-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnTime(column)">
                  <app-time-column [column]="column"
                                   [row]="row"
                                   class="w-100"
                  >
                  </app-time-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnDatetime(column)">
                  <app-datetime-column [column]="column"
                                       [row]="row"
                                       class="w-100"
                  >
                  </app-datetime-column>
                </ng-container>

                <ng-container *ngIf="datatableService.isColumnBoolean(column)">
                  <app-boolean-column [column]="column"
                                      [row]="row"
                                      class="w-100"
                  >
                  </app-boolean-column>
                </ng-container>
              </app-editable-cell>
            </mat-cell>
          </ng-container>
        </ng-container>
      </ng-container>
      <!-- iterable Columns -->

      <ng-container *ngIf="showActionsColumn">
        <ng-container [matColumnDef]="'actions'">
          <mat-header-cell *matHeaderCellDef
                           class="action-column d-flex justify-content-center align-items-center"
                           sticky-end
          >
            <button type="button"
                    mat-icon-button
                    color="primary"
                    [matMenuTriggerFor]="tableMenu"
            >
              <mat-icon>
                menu
              </mat-icon>
            </button>

            <mat-menu #tableMenu="matMenu">
              <ng-template matMenuContent>

                <button mat-menu-item
                        (click)="onReload($event)"
                        type="button"
                >
                  <mat-icon>
                    <fa-icon [icon]="ICONS.sync"
                             [size]="'xs'"
                    >

                    </fa-icon>
                  </mat-icon>
                  Reload
                </button>

                <button mat-menu-item>
                  <mat-icon>
                    <fa-icon [icon]="ICONS.export"
                             [size]="'xs'"
                    >
                    </fa-icon>
                  </mat-icon>
                  Export
                </button>

              </ng-template>
            </mat-menu>

          </mat-header-cell>

          <mat-cell *matCellDef="let row"
                    class="action-column d-flex justify-content-center align-items-center"
                    mat-cell
          >
            <button type="button"
                    mat-icon-button
                    color="accent"
                    [matMenuTriggerFor]="rowMenu"
            >
              <mat-icon>
                menu
              </mat-icon>
            </button>

            <mat-menu #rowMenu="matMenu">
              <ng-template matMenuContent>

                <button mat-menu-item>
                  <mat-icon>
                    <fa-icon [icon]="ICONS.sync"
                             [size]="'xl'"
                    >
                    </fa-icon>
                  </mat-icon>
                  Reload
                </button>

                <button mat-menu-item>
                  <mat-icon>
                    <fa-icon [icon]="ICONS.export"
                             [size]="'xl'"
                    >
                    </fa-icon>
                  </mat-icon>
                  Export
                </button>

              </ng-template>
            </mat-menu>

          </mat-cell>
        </ng-container>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row>
      </mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;" mat-row>
      </mat-row>
    </mat-table>

    <ng-container *ngIf="showPagination">
      <mat-paginator [length]="total"
                     [pageSizeOptions]="datatableService.pageSizeOptions"
                     [pageSize]="itemsPerPage"
                     [pageIndex]="datatableService.pageIndex"
                     (page)="onCurrentPageChange($event)"
                     showFirstLastButtons
      >
      </mat-paginator>
    </ng-container>
  </ng-container>
</div>
