<form (ngSubmit)="onSubmit($event)"
      [formGroup]="productForm"
>
  <mat-grid-list cols="6"
                 gutterSize="25px"
                 rowHeight="100px"
  >

    <mat-grid-tile colspan="2">
      <mat-form-field class="w-100">
        <mat-label>
          SKU:
        </mat-label>
        <input [formControlName]="'sku'"
               matInput
               type="text"
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field class="w-100">
        <mat-label>
          Name:
        </mat-label>
        <input [formControlName]="'name'"
               matInput
               type="text"
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="2">
      <mat-form-field class="w-100">
        <mat-label>
          Value:
        </mat-label>
        <input [formControlName]="'value'"
               matInput
               type="number"
        >
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile colspan="6"
                   rowspan="2"
    >
      <mat-form-field class="w-100 h-inherit">
        <mat-label>
          Description:
        </mat-label>
        <textarea [formControlName]="'description'"
                  class="h-100"
                  matInput
                  rows="12"
        >
        </textarea>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile-footer>
      <mat-grid-tile colspan="6">
        <div class="w-100 buttons-section">
          <button color="warn"
                  mat-raised-button
                  type="reset"
          >
            <mat-icon>
              undo
            </mat-icon>
            Reset
          </button>

          <button color="primary"
                  mat-raised-button
                  type="submit"
          >
            <mat-icon>
              save
            </mat-icon>
            Save
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-tile-footer>
  </mat-grid-list>
</form>
