<button [matMenuTriggerFor]="cartMenu"
        mat-icon-button
        type="button"
>
  <mat-icon
    [matBadge]="cartItemsInView.length"
    matBadgeColor="accent"
    matBadgePosition="before"
  >
    shopping_cart
  </mat-icon>
</button>

<mat-menu #cartMenu="matMenu">
  <ng-template matMenuContent>

    <div *ngIf="!cartItemsInView.length"
         [disabled]="true"
         mat-menu-item
    >
      Não há produtos no carrinho
    </div>

    <ng-container *ngIf="cartItemsInView.length">
      <ng-container *ngFor="let item of cartItemsInView;">

        <div mat-menu-item>
          {{ item | printCartItem }}
        </div>

        <mat-divider></mat-divider>

      </ng-container>

      <button mat-menu-item>
        Finalizar compra
      </button>

    </ng-container>
  </ng-template>
</mat-menu>
