<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="row-content">
      <button (click)="toggleMenu($event)"
              mat-icon-button
              type="button"
      >
        <mat-icon>
          menu
        </mat-icon>
      </button>

      <div class="spacer"></div>

      <app-icon-cart></app-icon-cart>

      <button [matMenuTriggerFor]="userMenu"
              mat-icon-button
              type="button"
      >
        <mat-icon>
          account_circle
        </mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <mat-divider></mat-divider>

        <button mat-menu-item>
          <mat-icon>
            exit_to_app
          </mat-icon>
          <span>
            Logout
          </span>
        </button>

      </mat-menu>

    </div>
  </mat-toolbar-row>
</mat-toolbar>
