<div class="row">
  <div class="col-4">
    <app-search class="w-100"></app-search>
  </div>
</div>

<div *ngIf="products.length" class="row">
  <div class="col-12">
    <app-datatable [columns]="productsColumns"
                   [rows]="products"
                   class="w-100"
    >
    </app-datatable>
  </div>
</div>

<!--<mat-grid-list cols="6"-->
<!--               gutterSize="25px"-->
<!--               rowHeight="400px"-->
<!--&gt;-->
<!--  <mat-grid-tile *ngFor="let product of products">-->
<!--    <div class="card-item">-->
<!--      <app-product-item-->
<!--        (productAdded)="onProductAdd($event)"-->
<!--        (productRemoved)="onProductRemoved($event)"-->
<!--        [product]="product"-->
<!--      >-->
<!--      </app-product-item>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->
