<div class="row">
  <div class="col col-md-12 col-lg-4">
    <app-search class="w-100"></app-search>
  </div>
</div>

<div *ngIf="products.length" class="row">
  <div class="col">
    <app-datatable [columns]="productsColumns"
                   [rows]="products"
                   (selectedRows)="onSelectedRows($event)"
                   (editInline)="onEditInline($event)"
                   (paginationChanged)="onPaginationChanged($event)"
                   class="w-100"
    >
    </app-datatable>
  </div>
</div>

<!--<mat-divider></mat-divider>-->

<!--<div class="row">-->
<!--  <div class="col" *ngFor="let product of products">-->
<!--    <div class="card-item">-->
<!--      <app-product-item-->
<!--        (productAdded)="onProductAdd($event)"-->
<!--        (productRemoved)="onProductRemoved($event)"-->
<!--        [product]="product"-->
<!--      >-->
<!--      </app-product-item>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

