<div class="menu-container">
  <mat-tree [dataSource]="dataSource"
    [treeControl]="treeControl"
  >
    <mat-tree-node *matTreeNodeDef="let node"
      matTreeNodePadding
    >
      <a [routerLinkActive]="['active']"
        [routerLink]="node.menuItem.routerLink"
        class="menuItem"
        mat-menu-item
      >
        <mat-icon>
          {{ node.menuItem.icon }}
        </mat-icon>
        {{ node.menuItem.name }}
      </a>

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild.bind(this)"
      matTreeNodePadding
    >

      <strong>
        {{node.menuItem.name}}
      </strong>

      <button [attr.aria-label]="'toggle ' + node.menuItem.name"
        mat-icon-button
        matTreeNodeToggle
      >
        <mat-icon class="mat-icon-rtl-mirror">
          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>

    </mat-tree-node>
  </mat-tree>
</div>
