.menu-container {
  width: 200px;
  height: 85vh;
  overflow-x: hidden;
  padding: {
    top: 15px;
  };

  .list-item {
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 10px;
      color: white !important;
    }

    &:hover {
      background: white;
      color: black;
    }
  }

  .menu-with-subitem {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    padding: 0;
  }
}


.toggle {
  margin-left: 40px;
  &:hover {
    cursor: pointer !important;
  }
}


