@import "~src/assets/functions/functions";

.menu-container {
  width: pxToRem(200px);
  height: 85vh;
  overflow-x: hidden;
  padding: {
    top: pxToRem(15px);
  };

  .list-item {
    width: 100%;
    padding: pxToRem(5px) pxToRem(10px);
    font-size: pxToRem(14px);
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: pxToRem(10px);
      color: white !important;
    }

    &:hover {
      background: white;
      color: black;
    }
  }

  .menu-with-subitem {
    margin-left: pxToRem(20px);
    margin-right: pxToRem(20px);
    width: 100%;
    padding: 0;
  }

  .toggle {
    display: inline-flex;
    &:hover {
      cursor: pointer !important;
    }
  }
}




