<div class="menu-container">
  <mat-tree [dataSource]="dataSource"
    [treeControl]="treeControl"
  >
    <mat-tree-node *matTreeNodeDef="let node"
      matTreeNodePadding
    >
      <a [routerLinkActive]="['active']"
        [routerLink]="node.menuItem.routerLink"
        class="menuItem"
        mat-menu-item
      >
        <mat-icon>
          {{ node.menuItem.icon }}
        </mat-icon>
        {{ node.menuItem.name }}
      </a>

    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild.bind(this)"
      matTreeNodePadding
    >
      <a class="toggle"
         matTreeNodeToggle
      >
        <mat-icon *ngIf="node?.menuItem?.icon"
          class="menu-with-subitem"
        >
          {{ node.menuItem.icon }}
        </mat-icon>

        <span [ngClass]="{'menu-with-subitem': !node?.menuItem?.icon}">
          {{node.menuItem.name}}
        </span>

      </a>

    </mat-tree-node>
  </mat-tree>
</div>
