.products-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .card-item {
    width: 250px;
    margin: {
      top: 0;
      left: 0;
      right: 25px;
      bottom: 25px;
    };
  }

}
